<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gloryofme.onlineshop.manage.mapper.ItemCategoryMapper">
    <resultMap id="ItemCategoryResult" type="com.gloryofme.onlineshop.manage.pojo.ItemCategory">
        <id property="id" column = "id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="sort_order" property="sortOrder" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="is_parent" property="isParent" jdbcType="INTEGER"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ItemCatResult" type="com.gloryofme.onlineshop.manage.pojo.ItemCategoryResult">
        <id property="id" column = "id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="sort_order" property="sortOrder" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="is_parent" property="isParent" jdbcType="INTEGER"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--操作-->
    <select id="selectById" parameterType="Long" resultMap="ItemCatResult">
        select
        <include refid="base_column_list"/>
        from tb_item_cat
        <include refid="selectCondition"/>
    </select>
    <select id="select" parameterType="com.gloryofme.onlineshop.manage.pojo.ItemCategory" resultMap="ItemCategoryResult">
        select
        <include refid="base_column_list"/>
        from tb_item_cat
        <include refid="selectCondition"/>
        order by parent_id, sort_order
    </select>
    <select id="selectChildrenById" parameterType="Long" resultMap="ItemCatResult">
        select
        <include refid="base_column_list"/>
        from tb_item_cat
        where parent_id = #{id}
        order by sort_order
    </select>

    <insert id="insert" parameterType="com.gloryofme.onlineshop.manage.pojo.ItemCategory">
      insert into tb_item_cat (
        <include refid="base_column_list"/>
      )
      values (#{id}, #{name}, #{status}, #{sortOrder}, #{parentId}, #{isParent},NOW(), NOW())
    </insert>
    <!--查询的基本字段-->
    <sql id="base_column_list">
        id, `name`, status, sort_order, parent_id, is_parent, created, updated
    </sql>
    <!--查询条件-->
    <sql id="selectCondition">
        <trim prefix="where" prefixOverrides="and|or" suffixOverrides="and|or">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="sortOrder != null">
                and sort_order = #{sortOrder}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="isParent != null">
                and is_parent = #{isParent}
            </if>
        </trim>
    </sql>
</mapper>